
// --------------------------------
// 共通
// --------------------------------
.l-header {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #fff;

  &_container {
    display: flex;
    position: relative;
    justify-content: space-between;

    &_logo {
      max-width: 241px;
      margin-left: 53px;
      padding: 17px 0 0;
    }
  }
}

.l-footer {
  display: inline-block;
  position: relative;
  min-width: 100%;
  background-color: #252526;
}

// --------------------------------
// Topページ
// --------------------------------
.l-topBody {
}

.l-topContent {
  min-width: $pc_min_width;
  max-width: $pc_max_width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $pc_top_content_side_padding;
  padding-left: $pc_top_content_side_padding;

  @include mq_down(sp) {
    min-width: auto;
    padding-right: $sp_top_content_side_padding;
    padding-left: $sp_top_content_side_padding;
  }
}

.l-topSection {
  display: inline-block;
  position: relative;
  min-width: 100%;
  background-color: #fff;
}

// --------------------------------
// Page
// --------------------------------

.l-pageVisual {
}

.l-pageMainSide {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;

  @include mq_down(sp) {
    display: block;
  }

  .is-sidebar-right {
    flex-direction: row;

    .l-pageSidebar {
      margin-right: 0;
      margin-left: $pc_page_sidebar_margin;

      @include mq_down(sp) {
        margin-left: 0;
      }
    }
  }
}

.l-pageMain {
  flex-grow: 1;
}

.l-pageSidebar {
  flex-shrink: 0;
  width: $pc_page_sidebar_width;
  margin-right: $pc_page_sidebar_margin;
  background-color: #ffd;

  @include mq_down(sp) {
    width: 100%;
    margin-right: 0;
  }
}

.l-pageBody {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;

  @include mq_down(sp) {
    display: block;
  }

  .is-sidebar-right {
    flex-direction: row;

    .l-pageSidebar {
      margin-right: 0;
      margin-left: $pc_page_sidebar_margin;

      @include mq_down(sp) {
        margin-left: 0;
      }
    }
  }
}

.l-pageContent {
  min-width: $pc_min_width;
  max-width: $pc_max_width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $pc_page_content_side_padding;
  padding-left: $pc_page_content_side_padding;

  @include mq_down(sp) {
    min-width: auto;
    padding-right: $sp_page_content_side_padding;
    padding-left: $sp_page_content_side_padding;
  }
}

.l-topMain {
  background: $color_bg_topMain;
}

.l-career {
  position: relative;
  padding: 100px 0 88px;
  background-image: url(../images/top/bg_career.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.l-contactUs {
  padding-bottom: 90px;
}
