.c-button {
  display: inline-block;
  margin: 42px 4px 0;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.15em;

  &::after {
    content: " ";
    display: inline-block;
    position: relative;
    top: -1px;
    width: 188px;
    height: 7px;
    margin-left: 16px;
    background-image: url('../images/ico-next.svg');
    background-repeat: no-repeat;
  }
}
