.c-form_input {
  background: $bg_gray;
  width: 100%;
  padding: 10px 15px;
  border: none;
  outline: none;
}

.c-form_question {
  width: 100%;
  background: $bg_gray;
  padding: 10px;
  border: none;
  margin: 10px 0;
  &_option{

  }
}
