// .c-pageHeading {
//   margin-bottom: 30px;

//   &_title {
//     font-size: 30px;
//     font-weight: bold;

//     @include mq_down(sp) {
//       font-size: 24px;
//     }
//   }

//   &_desc {
//     font-size: 24px;
//     font-weight: bold;
//   }
// }

.c-pageHeading {
  margin-bottom: 45px;
  text-align: center;

  &_title {
    @include fs(34, 24);

    margin-bottom: 0;
    font-weight: bold;
    letter-spacing: 1px;
  }

  &_subtitle {
    display: block;
    margin-top: -15px;
    margin-bottom: -25px;
    color: #9b9b9b;
    font-weight: bold;
    letter-spacing: 3px;

    @include fs(15, 77);

    @include bp(tab) {
      margin-top: 5px;
      margin-bottom: 0;
    }
  }

  &_desc {
    margin: 0 0 60px;
    letter-spacing: 3.5px;

    @include fs(18, 30);
  }

  &_slogan {
    margin-top: 25px;
    letter-spacing: 5px;
  }

  &_descAdvance {
    margin: 0 0 30px;
    letter-spacing: 2.5px;
    
    @include fs(16, 28);

    span {
      &.c-textEmphasize {
        color: #e88200;
      }
    }
  }
}

.c-textCenter {
  margin-bottom: 45px;
  text-align: center;
}
