.c-pageHeading {
  margin-bottom: 30px;

  &_title {
    font-size: 30px;
    font-weight: bold;

    @include mq_down(sp) {
      font-size: 24px;
    }
  }

  &_desc {
    font-size: 24px;
    font-weight: bold;
  }
}

.c-box-heading {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  line-height: 24px;
  &_sub {
    font-size: 15px;
    color: $color_gray_light;
  }
}
