.c-paragraph {
  font-size: 18px;
  line-height: 1.6;

  @include mq_down(sp) {
    font-size: 15px;
    line-height: 1.5;
  }
}

.c-paragraph-1 {
  font-size: 21px;
  line-height: 1.6;

  @include mq_down(sp) {
    font-size: 13px;
    line-height: 1.5;
  }
}
