.p-column {
  padding: 100px 0 0;
  background-color: #ededf0;

  .c-pageHeading_subtitle {
    margin-top: -5px;
  }

  .p-columnList {
    @include flexbox();

    @include bp(tab) {
      @include flex-direction(column);
    }

    &_item {
      width: calc(100% / 3);
      margin-bottom: 50px;

      @include bp(tab) {
        width: 100%;
      }

      &:focus {
        outline: none;
      }

      &:nth-child(2) {
        .p-columnSlide {
          &_img {
            position: relative;
            left: 10%;

            @include bp(tab) {
              left: 0;
            }
          }

          &_category {
            z-index: 1;
            left: 10%;

            @include bp(tab) {
              left: 0;
            }
          }

          &_content {
            @include bp(768px, 1440px) {
              left: 41.5%;
            }
          }
        }
      }

      &:last-child {
        .p-columnSlide {
          &_content {
            left: 60%;
            padding: 24px 29px 7px 29px;

            @include bp(768px, 1440px) {
              left: 51.5%;
              padding: 14px 20px 10px 20px;
            }

            @include bp(tab) {
              left: 40%;
            }
          }

          &_img {
            position: relative;
            left: 20%;

            @include bp(tab) {
              left: 0;
            }
          }

          &_category {
            z-index: 1;
            left: 20%;

            @include bp(tab) {
              left: 0;
            }
          }
        }
      }

      .p-columnSlide {
        position: relative;
        outline: none;

        &_img {
          width: 80%;
          height: 328px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;

          &:focus {
            outline: none;
          }

          @include bp(768px, 1440px) {
            width: 81%;
            height: 270px;
          }

          @include bp(tab) {
            width: 100%;
          }
        }

        &_category {
          position: absolute;
          top: 0;
          left: 0;
          padding: 0 10px;
          background: #ea8105;
          color: #fff;
        }

        &_content {
          position: absolute;
          right: 0;
          bottom: -3vw;
          left: 40%;
          padding: 24px 80px 7px 29px;
          background-color: #ededf0;

          @include bp(768px, 1440px) {
            bottom: -4.5vw;
            left: 31.5%;
            padding: 14px 25px 10px 25px;
          }

          &:focus {
            outline: none;
          }

          &_title {
            margin-bottom: 7px;
            letter-spacing: 2.8px;

            @include limit_lines(1);

            a {
              font-weight: bold;

              @include fs(16, 26);
            }
          }

          &_desc {
            @include bp(768px, 1440px) {
              position: relative;
              top: -10px;
            }

            a {
              @include fs(14, 22);
              @include limit_lines(2);
            }
          }

          &_date,
          &_status {
            padding-left: 4px;
            color: #e88200;
            font-weight: 500;

            @include fs(12, 24);

            span {
              position: relative;
              margin-left: 11px;
              padding-left: 17px;
              color: #9b9b9b;
              font-weight: normal;

              @include fs(11, 24);

              &::before {
                content: "";
                position: absolute;
                top: 5px;
                left: 0;
                width: 10px;
                height: 10px;
                background: url('../images/common/icon_view.png') center center no-repeat;
              }
            }
          }
        }
      }
    }
  }

  .c-btn-rm {
    width: 100%;
    color: #000;
    text-align: center;
  }
}
