.p-column {
  padding: 100px 0 225px;
  background-color: #ededf0;

  .p-columnList {
    &_item {
      &:focus {
        outline: none;
      }

      .p-columnSlide {
        position: relative;
        outline: none;

        &_img {
          width: 79%;
          height: 328px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: auto 100%;

          &:focus {
            outline: none;
          }

          @include bp(tab) {
            width: 100%;
          }
        }

        &_content {
          position: absolute;
          right: 0;
          bottom: -3px;
          left: 40%;
          padding: 24px 80px 7px 29px;
          background-color: #ededf0;

          &:focus {
            outline: none;
          }

          &_title {
            margin-bottom: 7px;
            letter-spacing: 2.8px;

            a {
              font-weight: bold;

              @include fs(16, 26);
            }
          }

          &_desc {
            a {
              @include fs(14, 22);
            }
          }

          &_date,
          &_status {
            padding-left: 4px;
            color: #e88200;
            font-weight: 500;

            @include fs(12, 24);

            span {
              position: relative;
              margin-left: 11px;
              padding-left: 17px;
              color: #9b9b9b;
              font-weight: normal;

              @include fs(11, 24);

              &::before {
                content: "";
                position: absolute;
                top: 5px;
                left: 0;
                width: 10px;
                height: 10px;
                background: url('../images/common/icon_view.png') center center no-repeat;
              }
            }
          }
        }
      }
    }
  }

  .c-btn-rm {
    width: 100%;
    color: #000;
    text-align: center;
  }
}
