.p-company {
  &_group-text {
    margin-top: -60px;
    margin-left: 15.5%;
    padding: 128px 220px 160px 150px;
    background-color: #252526;
    color: #fff;

    @include bp(tab) {
      padding: 80px 40px 80px 40px;
    }

    .c-pageHeading {
      margin-bottom: 25px;
      text-align: left;
    }
  }

  &_content {
    &_title {
      letter-spacing: 5px;

      @include bp(tab) {
        @include fs(18, 30);
      }
    }

    &_desc {
      letter-spacing: 3.5px;

      @include fs(18, 30);

      @include bp(tab) {
        @include fs(13, 26);
      }
    }
  }
}
