.p-featured {
  padding: 18px 0 225px;
  background-color: #ededf0;

  .p-featuredList {
    &_item {
      .p-featuredSlide {
        position: relative;
        outline: none;

        &_img {
          width: 79%;
          height: 328px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: auto 100%;

          @include bp(tab) {
            width: 100%;
          }
        }

        &_content {
          position: absolute;
          right: 0;
          bottom: -3px;
          left: 40%;
          padding: 24px 80px 7px 29px;
          background-color: #ededf0;

          &_title {
            @include fs(14, 24);

            margin-bottom: 7px;
            letter-spacing: 2.8px;
          }

          &_date {
            padding-left: 4px;
            color: #e88200;
            font-weight: 500;

            @include fs(12, 22);

            span {
              position: relative;
              margin-left: 11px;
              padding-left: 17px;
              color: #9b9b9b;
              font-weight: normal;

              @include fs(11, 20);

              &::before {
                content: "";
                position: absolute;
                top: 5px;
                left: 0;
                width: 10px;
                height: 10px;
                background: url('../images/common/icon_view.png') center center no-repeat;
              }
            }
          }
        }
      }
    }
  }

  .slick-arrow {
    position: absolute;
    bottom: -66px;
    width: 82px;
    height: 7px;
    border: none;
    outline: none;
    background: transparent;
    background-repeat: no-repeat;
    color: transparent;

    &.slick-prev {
      left: 42.8%;
      background-image: url('../images/common/icon_prev.png');
    }

    &.slick-next {
      right: 42.8%;
      background-image: url('../images/common/icon_next.png');
    }
  }
}
