.p-gnav {
  width: calc(100% - 241px);

  @include bp(0, 1320px) {
    width: 0;
    height: 45px;
  }

  &_btn {
    position: absolute;
    right: 0px;
    width: 40px;
    height: 100%;
    top: 0;
    background-image: url("../images/common/btn_nav01.gif");
    background-position: 0 0;
    background-size: 100%;
    text-indent: -9999px;
    border: none;
  }

  &_list {
    display: flex;
    justify-content: flex-end;
    height: 100%;

    @include bp(0, 1320px) {
      display: none;
      min-height: 619px;
      position: absolute;
      top: 45px;
      left: 0;
      right: 0;
      z-index: 999;
      background-color: #f19616;
    }

    .c-open-menu {
      position: absolute;
      right: 0;
    }

    &_item {
      text-align: center;

      @include bp(tab) {
        width: 100%;
        border-bottom: #f0af55 1px solid;
      }

      a {
        display: block;
        min-width: 140px;
        padding: 30px 38px;

        &.is-active,
        &:hover {
          background-color: #eb8205;
          color: #fff;
        }

        @include fs(17, 24);

        span {
          display: block;
          margin-top: 7px;

          @include fs(10, 10);
        }
      }

      &:last-child {
        a {
          min-width: 155px;
        }
      }
    }
  }
}
