.p-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include bp(tab) {
    padding: 10px;
  }

  &_logo {
    width: 240px;
    margin-left: 50px;
    @include bp(tab) {
      margin: 0;
    }
  }
}
