.p-mainVisual {
  position: relative;
  width: 100%;
  min-width: $pc_min_width;
  height: setvwpc(890px);
  // min-height: $pc_top_visual_min_height;
  // max-height: $pc_top_visual_max_height;
  overflow: hidden;

  @include mq_down(sp) {
    min-width: auto;
    min-height: auto;
    max-height: $sp_top_visual_max_height;
  }

  &::before {
    content: "";
    display: block;
    padding-top: $pc_top_visual_padding_top;

    @include mq_down(sp) {
      padding-top: $sp_top_visual_padding_top;
    }
  }

  &_bg {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("../images/common/slide.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    > img {
      width: 100%;
    }
  }

  &_content {
    display: flex;
    position: absolute;
    top: setvwpc(-150px);
    bottom: 0;
    left: 50%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: $pc_min_width;
    max-width: $pc_max_width;
    padding-right: $pc_top_content_side_padding;
    padding-left: $pc_top_content_side_padding;
    transform: translateX(-50%);
    color: #fff;

    @include mq_down(sp) {
      min-width: auto;
      padding-right: $sp_top_content_side_padding;
      padding-left: $sp_top_content_side_padding;
    }

    &_title {
      z-index: 3;
      font-weight: bold;

      @include fs(74, 111);

      @include mq_down(sp) {
        @include fs(20, 30);
      }
    }

    &_desc {
      z-index: 2;
      font-weight: bold;

      @include fs(20, 40);

      @include bp(tab) {
        @include fs-vwsp(12, 18);
      }
    }

    &_news {
      position: absolute;
      z-index: 2;
      right: 0;
      bottom: 5vw;
      left: 0;
      padding: 27px 37px;
      background-color: #fff;
      box-shadow: 0 4px 20px 0 rgba(107, 107, 107, 0.2);

      @include bp(tab) {
        display: none;
      }

      b {
        margin-right: 10px;
        color: #000;
        letter-spacing: 1px;

        @include fs(16, 20);
      }

      span {
        margin-right: 14px;
        color: #e88200;
        letter-spacing: 1px;

        @include fs(14, 20);
      }

      a {
        letter-spacing: 2.5px;

        @include fs(14, 20);

        @include bp(tab) {
          display: block;
          width: 100%;
        }
      }
    }
  }

  &.is-fixContent & {
    &_bg {
      left: 50%;
      max-width: $pc_max_width;
      transform: translateX(-50%);
    }
  }
}
