.p-news {
  padding: 115px 0 90px 0;
  text-align: center;

  .l-pageContent {
    padding: 0;

    .c-pageHeading {
      margin-bottom: 10px;
    }
  }

  .p-newsList {
    @include fs(14, 24);

    li {
      @include flexbox;
      @include flex-wrap(wrap);
      @include align-items(center);

      padding: 35px 0 35px 25px;
      border-bottom: 1px solid #bebebe;

      @include bp(tab) {
        margin-bottom: 20px;
        padding: 0 15px 20px;
      }
    }

    &_date {
      margin-right: 22px;
      font-weight: bold;
    }

    &_category {
      @include fs(12, 26);
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);

      min-width: 165px;
      height: 20px;
      margin-right: 27px;
      border: 1px solid #e88200;
      color: #e88200;

      a {
        color: #e88200;
      }
    }

    &_title {
      @include fs(14, 26);
    }
  }

  .c-btn-rm {
    margin: 55px 0 0;
    color: #000;
  }
}
