.l-topMain {
  .p-featured {
    padding-bottom: 100px;

    &_title {
      text-align: center;
    }

    &_list {
      .c-listFeatured {
        margin: 0 -25px;

        &_item {
          position: relative;
          padding: 25px;

          &_img {
            img {
              -webkit-box-shadow: 4px 0 20px 0 rgba(50, 50, 50, 0.2);
              -moz-box-shadow: 4px 0 20px 0 rgba(50, 50, 50, 0.2);
              box-shadow: 4px 0 20px 0 rgba(50, 50, 50, 0.2);
            }
          }

          &_desc {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 60%;
            padding: 25px 30px;
            background: #ededf0;

            h3 {
              margin-bottom: 10px;
              color: black;
              font-size: 14px;
            }

            &_paragraph {
              font-size: 12px;
              line-height: 24px;

              .c-date {
                color: $color-orange;
              }

              .c-view {
                position: relative;
                margin-left: 15px;
                padding-left: 17px;
                color: $color_gray;

                &::before {
                  content: " ";
                  position: absolute;
                  top: 5px;
                  left: 0;
                  width: 10px;
                  height: 10px;
                  background: url('../images/icon_view.svg') center center no-repeat;
                }
              }
            }
          }
        }
      }
    }
  }

  .p-company {
    margin-top: -60px;
    margin-left: 15.27778vw;
    padding: 115px 100px 167px 155px;
    background-color: #252526;
    color: #fff;

    &_desc {
      .c-name {
        padding-bottom: 20px;
        font-size: 4rem;
      }
    }
  }

  .p-service {
    position: relative;
    padding-top: 40px;
    background: $color_bg_topMain;

    &::before {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      width: 180px;
      height: 69%;
      background-color: #fff;
    }

    &_title {
      text-align: center;

      .c-titleSection {
        margin-bottom: 25px;
      }

      .c-surprise {
        font-size: 4rem;
      }

      .c-text {
        font-size: 1.8rem;
      }
    }

    &_list {
      position: relative;
      padding-top: 60px;
      overflow: hidden;

      .c-listService {
        &_item {
          display: flex;
          position: relative;
          z-index: 2;
          align-items: flex-start;
          min-height: 560px;
          margin-bottom: 90px;

          &_img {
            position: absolute;
            z-index: -1;
            top: 60px;
          }

          &_desc {
            width: 800px;
            padding: 90px 80px 70px;
            background: white;
            box-shadow: 0 4px 20px 0 rgba(107, 107, 107, 0.2);
            line-height: 2.6em;

            h3 {
              padding-bottom: 30px;
              font-size: 2.8rem;

              a {
                color: #000;
                font-weight: 700;
              }
            }

            h4 {
              padding-bottom: 20px;
              font-weight: 600;
            }

            p {
              padding-bottom: 20px;
            }

            .c-list3d {
              display: flex;
              margin: 0 -11px;
              counter-reset: section;

              &_item3d {
                width: 33.3336%;
                padding: 11px;

                &_head {
                  position: relative;
                  z-index: 2;
                  font-size: 1.6rem;
                  text-align: center;

                  span {
                    display: block;
                    background: #282828;
                    color: white;
                    font-size: 1.3rem;
                  }

                  &::before {
                    content: "0" counter(section);
                    position: absolute;
                    z-index: -1;
                    right: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    color: $color_bg_topMain;
                    font-size: 9.8rem;
                    font-weight: bold;
                    counter-increment: section;
                  }
                }

                &_para {
                  dt {
                    position: relative;
                    text-indent: 13px;

                    &::before {
                      content: "・";
                      position: absolute;
                      top: 0;
                      left: -10px;
                      width: 2px;
                      height: 2px;
                    }
                  }
                }
              }
            }
          }

          &:nth-child(odd) {
            figure {
              margin-left: -125px;
            }
          }

          &:nth-child(even) {
            justify-content: flex-end;

            figure {
              margin-right: -125px;
            }
          }
        }
      }
    }
  }

  .p-career {
    padding: 100px 0;
    background: #252526;
    text-align: center;

    &_title {
      color: white;
    }

    .c-paragraph {
      color: white;
    }
  }

  .p-news {
    padding: 110px 0 90px 0;

    &_title {
      text-align: center;
    }

    &_list {
      .c-listNews {
        &_item {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding: 37px 30px;
          border-bottom: 1px solid #bebebe;

          span {
            display: block;
            width: 165px;
            margin: 0 20px 0 12px;
            padding: 2px;
            border: 1px solid $color_orange;
            color: $color_orange;
            text-align: center;
          }

          a {
            letter-spacing: 0.11em;
          }
        }
      }

      .c-button {
        color: black;
        text-align: center;
      }
    }
  }

  .p-column {
    padding: 100px 0;
    overflow: hidden;

    &_title {
      text-align: center;
    }

    &_list {
      .c-listColumn {
        display: flex;
        margin: 0 -60px;

        &_item {
          position: relative;
          width: 33.333336%;
          padding: 0 60px;

          &_img {
            position: relative;
            box-shadow: 4px 0 20px 0 rgba(50, 50, 50, 0.3);

            span {
              position: absolute;
              top: 0;
              left: 0;
              padding: 0 15px;
              background-color: $color_orange;
              color: white;
            }
          }

          &_desc {
            position: absolute;
            z-index: 2;
            right: 0;
            bottom: -60px;
            width: 60%;
            padding: 20px;
            background-color: #ededf0;

            label {
              display: block;
              padding-bottom: 7px;
              color: $color_orange;
            }

            h3 {
              font-size: 1.6rem;
            }

            p {
              font-size: 1.4rem;
              font-weight: 300;
            }

            &_divide {
              padding-top: 10px;

              .c-category {
                color: $color_orange;
                font-size: 1.2rem;
                font-weight: 600;
              }

              .c-view {
                position: relative;
                margin-left: 15px;
                padding-left: 17px;
                color: #9b9b9b;
                font-size: 1.1rem;

                &::before {
                  content: " ";
                  position: absolute;
                  top: 5px;
                  left: 0;
                  width: 10px;
                  height: 10px;
                  background: url(../images/icon_view.svg) center center no-repeat;
                }
              }
            }
          }
        }
      }

      .c-button {
        margin-top: 90px;
        color: black;
        text-align: center;
      }
    }
  }

  .p-contactUs {
    padding: 90px 0 60px 0;
    background-color: white;
    box-shadow: 4px 0 20px 0 rgba(50, 50, 50, 0.3);

    &_title {
      text-align: center;

      .c-para {
        font-size: 1.6rem;
        letter-spacing: 0.1em;

        span {
          color: $color_orange;
        }
      }
    }

    &_form {
      margin: 55px 125px 0 125px;

      &_faq {
        .c-head {
          &_name {
            position: relative;
            z-index: 2;
            font-size: 2rem;
            text-align: center;

            &::before {
              content: " ";
              position: absolute;
              z-index: -1;
              top: 50%;
              left: 0;
              width: 100%;
              height: 1px;
              border-bottom: 1px solid #d5d5d5;
            }

            span {
              padding: 0 70px;
              background: white;
              font-weight: 700;
            }
          }
        }

        .c-container {
          padding: 55px 125px;
          border-bottom: 1px solid #d5d5d5;

          &_fgroup {
            padding: 15px 0;

            &_fcontrol {
              width: 100%;
              padding: 20px;
              border: none;
              outline: none;
              background: #f3f3f6;

              &.c-select {
                background-image: url('../images/icon_select.svg');
                background-repeat: no-repeat;
                background-position: right 20px center;
                background-size: 14px;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                -o-appearance: none;
                appearance: none;
              }
            }
          }
        }
      }

      &_inquiry {
        padding-top: 65px;

        .c-head {
          &_name {
            position: relative;
            z-index: 2;
            font-size: 2rem;
            text-align: center;

            span {
              font-weight: 700;
            }
          }
        }

        .c-container {
          padding: 55px 125px;

          &_fgroup {
            padding: 15px 0;

            &_notice {
              margin-left: 10px;
              padding: 0 5px;
              border: 1px solid $color_orange;
              color: $color_orange;
            }

            &_fcontrol {
              width: 100%;
              margin-top: 7px;
              padding: 20px;
              border: none;
              outline: none;
              background: #f3f3f6;

              &.c-select {
                background-image: url('../images/icon_select.svg');
                background-repeat: no-repeat;
                background-position: right 20px center;
                background-size: 14px;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                -o-appearance: none;
                appearance: none;
              }
            }
          }

          .c-btn {
            margin-top: 40px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}
