.p-topCompany {
  margin-top: -60px;
  margin-left: 15.27778vw;
  padding: setvw(115px) setvw(100px) setvw(167px) setvw(155px);
  background-color: #252526;
  color: #fff;

  &_desc {
    &_name {
      padding-bottom: 20px;
      font-size: 4rem;
    }

    &_paragraph {
      line-height: 1.8em;
    }
  }
}
